<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothies</h2>
    <a href="/smoothies" class="btn">View Smoothies</a>
  </div>
</header>


<%- include('partials/footer'); -%>